<label>Server Name</label>

<!-- (input) event is a normal DOM event that is fired whenever the user types -->
<!-- $event is a reserved word that gives us access to the event data (aka what is typed)-->
<!-- <input type="text"
    class = "form-control"
    (input)="onUpdateServerName($event)"> -->

<!-- Two Way Data Binding - combine property and event binding -->
 <input type="text"
 class = "form-control"
 [(ngModel)]="serverName"> <!-- will trigger on the input event and automatically update the value of the server name in our component -->
                           <!-- will also update the value of the input element if we change serverName somewhere else -->
                                                                
<!-- <p>{{serverName}}</p> -->

<!-- Property binding our allowNewServer's value to the button's disabled attribute -->
<!-- Event binding the onclick event (just write "click" in Angular) to our onCreateServer method-->
<button class="btn btn-primary" [disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button> <!-- Event Binding -->

<!-- Data binding -->
<!-- <p [innerText]="allowNewServer"></p> -->

<!-- string interpolation -->
<p>{{ allowNewServer }}</p>

<!-- <p>{{ serverCreationStatus }}</p> -->

<!-- Directives -->
<!-- ngIf is a Structural Directive which means it makes changes to the DOM so must include * 
    Inside the quotes must be anything that returns true or false
    Once our server is created by clicking the button above, the serverCreated var is set to true
    and this paragraph text appears -->
<p *ngIf="serverCreated; else noServer"> <!-- noServer marker created if server is not created, thus enabling ng-template below to show instead -->
    Server was created, server name is {{serverName}}
</p>

<!-- else condition for serverCreated -->
<ng-template #noServer> <!-- this element will only show if this marker noServer is found-->
    <p>
        No server was created!
    </p>
</ng-template>

<!-- *ngFor is another Structural Directive that allows us to dynamically add components -->
<app-server *ngFor="let server of servers"></app-server> <!-- will loop through our array of servers in the component and will dynamically create an app-server element for each-->
