<label>Server Name</label>

<!-- (input) event is a normal DOM event that is fired whenever the user types -->
<!-- $event is a reserved word that gives us access to the event data (aka what is typed)-->
<!-- <input type="text"
    class = "form-control"
    (input)="onUpdateServerName($event)"> -->

<!-- Two Way Data Binding - combine property and event binding -->
 <input type="text"
 class = "form-control"
 [(ngModel)]="serverName"> <!-- will trigger on the input event and automatically update the value of the server name in our component -->
                           <!-- will also update the value of the input element if we change serverName somewhere else -->
                                                                
<!-- <p>{{serverName}}</p> -->

<!-- Property binding our allowNewServer's value to the button's disabled attribute -->
<!-- Event binding the onclick event (just write "click" in Angular) to our onCreateServer method-->
<button class="btn btn-primary" [disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button> <!-- Event Binding -->

<!-- Data binding -->
<!-- <p [innerText]="allowNewServer"></p> -->

<!-- string interpolation -->
<p>{{ allowNewServer }}</p>

<p>{{ serverCreationStatus }}</p>

<app-server></app-server>
<app-server></app-server>
